:root {
  --bg-primary: #0d0d0d;
  --bg-secondary: #040507;
  --text-primary: #fefefe;
  --text-secondary: #cfbbbb;
  --btn-primary: #246afd;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Rubik;
  font-weight: normal;
}

.next-main {
  background-color: var(--bg-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-sec {
  background-color: var(--bg-secondary);
  width: 20%;
  padding: 1rem;
  border-radius: 2em;
}

.top-sec {
  background-color: var(--bg-primary);
  width: 100%;
  height: auto;
  border-radius: 1.5em;
  padding: 1em;
}

.select-media-sec {
  width: 100%;
  height: 20em;
}

.select-label {
  height: 100%;
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.upload-btn-sec {
  height: 3em;
  width: 100%;
  background-color: var(--btn-primary);
  border-radius: 1em;
  margin-top: 1em;
  cursor: pointer;
}

.upload-btn {
  color: var(--text-primary);
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
}

.select-img-text {
  font-size: 1.2em;
  color: var(--text-secondary);
}
