:root {
  --bg-primary: #0d0d0d;
  --bg-secondary: #040507;
  --text-primary: #fefefe;
  --text-secondary: #cfbbbb;
  --btn-primary: #246afd;
  --mss-success: rgba(255, 166, 0, 0.65);
  --mss-error: rgba(253, 36, 47, 0.65);
  --close-btn-error: #ff7c0160;
  --close-btn-success: #ff014160;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Rubik;
  font-weight: normal;
}

.next-main {
  background-color: var(--bg-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.next-sec {
  background-color: var(--bg-secondary);
  width: 20%;
  padding: 1rem;
  border-radius: 2em;
}

.top-sec {
  background-color: var(--bg-primary);
  width: 100%;
  height: auto;
  border-radius: 1.5em;
  padding: 1em;
}

.select-media-sec {
  width: 100%;
  height: 20em;
  position: relative;
}

.select-label {
  height: 100%;
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.upload-btn-sec {
  height: 3em;
  width: 100%;
  background-color: var(--btn-primary);
  border-radius: 1em;
  margin-top: 1em;
  cursor: pointer;
}

.upload-btn {
  color: var(--text-primary);
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
}

.select-img-text {
  font-size: 1.2em;
  color: var(--text-secondary);
}

.pop-message-section {
  position: fixed;
  right: 1em;
  top: 1em;
}

.message-card {
  height: 3em;
  background-color: var(--mss-error);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1em;
  padding: 1rem 0.5rem 1rem 1rem;
}

.message-sec {
  margin-right: 1rem;
}

.message-text {
  color: var(--text-primary);
  font-size: 0.9em;
  cursor: default;
}

.close-message-btn-sec {
  padding: 0 0.8rem;
  border-radius: 5em;
  cursor: pointer;
}

.close-btn-text {
  color: var(--text-primary);
  font-size: 0.8em;
  text-transform: uppercase;
}

.success-message-card {
  background-color: var(--mss-success);
}

.error-message-card {
  background-color: var(--mss-error);
}

.error-close-message-btn-sec:hover {
  background-color: var(--close-btn-error);
}

.success-close-message-btn-sec:hover {
  background-color: var(--close-btn-success);
}

.remove_btn {
  background-color: var(--close-btn-success);
  border-radius: 5em;
  padding: 0 1rem;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
  z-index: 1;
}

.remove_btn:hover {
  background-color: var(--close-btn-error);
}
.remove_btn_text {
  font-size: 0.9em;
  text-transform: uppercase;
  color: var(--text-primary);
}
